verif/sim/
*.vcd
*.fst
*.log
*.wlf

syn/work/
syn/*.rpt
syn/*.ddc

sw/**/*.elf
sw/**/*.bin
sw/**/*.hex
sw/**/*.o
sw/**/*.map

.vscode/
*.swp

.bender/

xcelium.d/*

*.shm
*.history
*.log
*.d
*.key
*.ucm
*.ucd
